<!doctype html>
<html lang="en">
  <head>
    <!-- Required meta tags -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

    <!-- Bootstrap CSS ofline-->
    <link rel="stylesheet" href="css/bootstrap.min.css">

    <title>Media Object Bootstrap</title>
  </head>
  <body>
    <h1>Media Object Bootstrap</h1>

    <!-- Example -->
    <h2>Example</h2>
    <div class="media">
        <img src="..." class="mr-3" alt="...">
        <div class="media-body">
          <h5 class="mt-0">Media heading</h5>
          <p>Will you do the same for me? It's time to face the music I'm no longer your muse. Heard it's beautiful, be the judge and my girls gonna take a vote. I can feel a phoenix inside of me. Heaven is jealous of our love, angels are crying from up above. Yeah, you take me to utopia.</p>
        </div>
      </div>

    <!-- Bootstrap js ofline -->
    <script src="js/bootstrap.bundle.min.js"></script>
    <script src="js/jquery.slim.min.js"></script>
    
  </body>
</html>